# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

name: Publish Package

on:
  workflow_dispatch:
  push:
    branches:
      - beta
env:
  NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
permissions:
  contents: write
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org/
      - name: prepare pnpm
        run: |
          corepack enable
          corepack prepare pnpm --activate
          pnpm bootstrap
      - run: pnpm build:all
      - name: config git userinfo
        run: |
            git config --global user.name "GitHub Actions"
            git config --global user.email "github-actions[bot]@users.noreply.github.com"
      - name: publish-beta
        if: github.ref == 'refs/heads/beta'
        run: npx release-it minor --preRelease=beta --npm.publish=false --ci
      - name: publish-latest
        if: github.ref == 'refs/heads/main'
        run: echo "fake publish"
